SHOPIFY_SHOP=advanced-acousticwerkes.myshopify.com
SHOPIFY_CLIENT_ID=replace_me
SHOPIFY_CLIENT_SECRET=replace_me
SHOPIFY_API_VERSION=2026-04
SHOPIFY_OAUTH_SCOPES=read_products,write_products,read_content,write_content,read_online_store_navigation,write_online_store_navigation,read_product_listings,write_product_listings,read_markets,read_files,write_files,read_themes
